Q1. List any five functions of the pandas library with execution.

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [5]:
df.head()   # Show the first five records of  the dataframe

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
df.describe() #Describe the basic statistics of the dataframe

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [7]:
df.dtypes # Define the data-types of each column

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [8]:
df['Fare'].max()  # Use to find max value of particular column

512.3292

In [9]:
df.iloc[0:8,[1,2,3]]  # use to filter data with index name

   Survived  Pclass                                               Name
0         0       3                            Braund, Mr. Owen Harris
1         1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2         1       3                             Heikkinen, Miss. Laina
3         1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4         0       3                           Allen, Mr. William Henry
5         0       3                                   Moran, Mr. James
6         0       1                            McCarthy, Mr. Timothy J
7         0       3                     Palsson, Master. Gosta Leonard

In [10]:
df.loc[0:5,['Survived', 'Pclass',	'Age']] # use to filter data with actual name

   Survived  Pclass   Age
0         0       3  22.0
1         1       1  38.0
2         1       3  26.0
3         1       1  35.0
4         0       3  35.0
5         0       3   NaN

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [ ]:
def reset_index(df):
  df = df.reset_index(drop=True)  # reset the index to 0
  df.index = df.index * 2 + 1 # to start index form 1 and increment by 2
  return df

new_df = reset_index(df)
print(new_df)

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

In [ ]:
def calculate_sum(df):
  values = df['values'].iloc[:3]  # to fetch first three value of values column
  sum = values.sum()
  print("sum of first three value", sum)

# calling function
calculate_sum(df)

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [ ]:
def count_words(df):
  df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
  return df

# calling function
count_words(df)

Q5. How are DataFrame.size() and DataFrame.shape() different?

In [ ]:
# The dataframe.size() function shows the total no of elements present in the dataframe by multiplying rows and Columns
# The dataframe.shape() function shows the total no of rows and columns present in the dataframe.
# df.shape()
# Shape = (458, 9)
# df.size()
# Size = 4122

Q6. Which function of pandas do we use to read an excel file?

In [ ]:
# read_excel() function of pandas is used to read an excel file
excel_data_df = pd.read_excel('employees.xlsx', sheet_name='sheet1')
print(excel_data_df)

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

In [ ]:
def generate_username(df):
  df['Username'] = df['Email'].apply(lambda x: str(x).split('@')[0])
  return df

# calling function
generate_username(df)

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

In [ ]:
def filter_data(df)
  new_df = df[ (df['A']>5) & (df['B']<10)]
  return new_df

# calling function
result = filter_data(df)
print(result)

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [ ]:
def column_stat(df):
  mean = df['Values'].mean(numeric_only=True)
  median = df['Values'].median(numeric_only=True)
  standard_deviation = df['Values'].std(numeric_only=True)
  return mean, median, standard_deviation

# calling function
mean, median, standard_deviation = column_stat(df)
print(mean)
print(median)
print(standard_deviation)

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [ ]:
def moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

# calling function
df = moving_average(df)
print(df)

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

In [ ]:
def date_to_dayname(df):
  df['Weekday'] = df['Date'].apply(lambda x: str(x).day_name())
  return df

# calling function
date_to_dayname(df)

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [ ]:
def filter_by_date(df):
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    new_df = df[(df['Date']>=start_date) & (df['Date']<=end_date)]
    return new_df

# calling function
res = filter_by_date(df)
print(res)

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

In [ ]:
# To use the basic functions of pandas, the first and foremost necessary library that needs to be imported is the pandas library itself. The import statement for pandas is
# typically written as:
import pandas as pd
# By convention, the pd alias is used to refer to the pandas library throughout the code. This allows you to access pandas functions and classes using the pd prefix.
# For example, to create a DataFrame, you can use pd.DataFrame().